@{
    ViewData["Title"] = "Home Page";
}

<div id="home-images">
    <img src="~/images/1.jpeg" alt="picture of a rack" id="image-1">
    <img src="~/images/2.jpeg" alt="picture of a rack" id="image-2">
    <img src="~/images/3.jpeg" alt="picture of a rack" id="image-3">
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Welcome to the sacrament meeting Planner</h2>
        <p>
            This is a system to help Bishops organize their sacrament meetings
        </p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 image">
        <img src="~/images/4.jpeg" />
    </div>
    <div class="col-md-6">
        <h2>Creation Of meetings</h2>
        <p>You can create your meetings here </p>
        <p><a class="btn btn-warning" href="Meetings/Create">Create Meeting &raquo;</a></p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 image">
        <img src="~/images/6.jpeg" />
    </div>
    <div class="col-md-6">
        <h2>Register your church members</h2>
        <p>You can the different assignments for your members</p>
        <p><a class="btn btn-warning" href="Members">See Members &raquo;</a></p>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-5 image">
        <img src="~/images/5.jpeg" />
    </div>
</div>