@model SacramentMeetingApp.Models.Member

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Member</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="memberName" class="control-label"></label>
                <input asp-for="memberName" class="form-control" />
                <span asp-validation-for="memberName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="memberLastName" class="control-label"></label>
                <input asp-for="memberLastName" class="form-control" />
                <span asp-validation-for="memberLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="assignment" class="control-label"></label>
                <select asp-for="assignment" class="form-control">
                    <option selected>First Prayer</option>
                    <option>Last Prayer</option>
                    <option>Meeting Lead</option>
                    <option>Music Lead</option>
                    <option>Speaker</option>
                </select>
                <span asp-validation-for="assignment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="isBishopBrickMember" /> @Html.DisplayNameFor(model => model.isBishopBrickMember)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="speakerSubject" class="control-label"></label>
                <input asp-for="speakerSubject" class="form-control" />
                <span asp-validation-for="speakerSubject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
